/*<editor-fold desc="PAGE PARENT CONTAINER">*/
#main-wrapper-piura {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*</editor-fold>*/

/*<editor-fold desc="GOOGLE MAPS CONTAINER">*/
#map-piura {
    position: relative;
    height: 100%;
    width: 100%;
}
/*</editor-fold>*/

/*<editor-fold desc="ORIGINAL DATA CONTAINER">*/
#data-original-container-piura {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 25vh;
    height: 50vh;
    width: 15vw;
    z-index: 1000001;
}
/*</editor-fold>*/